nav{
    margin-top:30px ;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right:80px;
    border:solid;
    background-color: skyblue;
    height: 40px;
    padding-top: 15px;
    
}
    
a{
    margin-left: 45px;
    margin-right: 45px;
    color:white;
    text-decoration: none;
    
    
}  